.projects-section {
  position: relative;

  width: 90%;
  top: 15rem;
}

.project-tile {
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  margin: 20px;
}

.project-image {
  position: relative;
  width: 100%;
  height: 40%;
  border-bottom: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}

.hover-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.hover-layer:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.project-title {
  font-weight: bold;
}

.project-description {
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.project-tag {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid black;

  border-radius: 0.5rem 0 0.5rem 0;
}
