.skills-content {
    position: absolute;
    top: 50%;
    width: 80%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    width: 100px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.skill-image {
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat ;
}