.skills-content {
  position: relative;
  width: 80%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 100px;
  height: 150px;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.skill-image {
  width: 100%;
  height: 80%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.5s all;
}

.skill-image:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
  
}

@media only screen and (max-width: 950px) {
  .skills-content {
    margin-top: -150px;
  }
}

@media only screen and (max-width: 600px) {
  .skills-content {
    margin-top: 10px;
  }
}
