body {
  margin: 0 auto;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  width: 100%;
  position: relative;
  align-items: center;
}
